@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&display=swap');
/* >>>>>>>>>  Custom properties  <<<<<<<<< */
:root {
    --first-color: #f39ba7;
    --second-color: #f9cbd4;
    --third-color: #fbdea2;
    --fourth-color: #8eb696;
    --font-color: #444444;
  
    --first-font-family: 'Roboto', sans-serif;
    --second-font-family: 'Nunito', sans-serif;
    --third-font-family: 'Montserrat', sans-serif;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-font-family);
  color: var(--font-color);
}

html {
  scroll-behavior: smooth;
}




h2 {
  font-family: var(--third-font-family);
  margin-bottom: 1.5rem;
  
}


p {
  line-height: 1.3rem;
}


/* ----------- HEADER ----------*/
.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo-1 {
  width: 8rem;
}

.header__logo-2 {
  display: none;
}

#toggle-menu,
.menu-icon {
  display: none;
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--font-color);
}

.navbar__link:hover {
  font-weight: bold;
}

.navbar__link-login {
  color: var(--first-color);
  font-weight: bold;
}





/* ----------- HERO ----------*/
.section__hero {
  height: 100vh;
  display: flex;
}

.section__hero-container {
  width: 85%;
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  background-image: url(../assets/img-hero.png);
  background-size: cover;
  background-position: center;
  justify-content: end;
  align-items: center;
}

.section__hero-description {
  text-align: end;
  margin-right: 3rem; 
}

h1 {
  background-color: var(--first-color);
  color: #fff;
  font-family: var(--second-font-family);
  font-size: 3.5rem !important; 
  padding: 0.7rem;
  margin-bottom: 0.8rem;
}

.section__hero-description p {
  background-color: var(--first-color);
  color: #fff;
  display: inline-block;
  font-family: var(--second-font-family);
  font-size: 2rem;
  padding: 0.7rem;
}





/* ----------- ABOUT ----------*/
.section__about {
  display: flex;
}

.section__about-container {
  display: flex;
  margin: 8rem auto;
  width: 75%;
  gap: 5rem;
}

.section__about-img img {
  max-width: 100%;
}

.section__about-info p {
  margin-bottom: 1rem;
}





/* ----------- PRODUCTS ----------*/
.section__products {
  display: flex;
}

.section__products-container {
  display: flex;
  width: 75%;
  margin: 0 auto 8rem;
  flex-direction: column;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.product-img {
  width: 18rem;
  height: 18rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  justify-content: center;
}

.product-img img {
  width: 12rem;
}

.product-1 {
  background-color: var(--second-color);
}

.product-2 {
  background-color: var(--third-color);
}

.product-3 {
  background-color: var(--fourth-color);
}

.product-img img.vanilla-donut {
  width: 14rem;
}

.product-img img.strawberry-donut {
  width: 8.5rem;
}

.price {
  font-weight: bold;
  margin-top: 0.5rem;
}

.add {
  display: flex;
  margin: 1rem auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  border: 1px solid var(--font-color);
}

.add:hover {
  background-color: var(--font-color);
  cursor: pointer;
  color: #fff;
}

.add p {
  display: flex;
  margin: 0 auto;
  align-items: center;
}





/* ----------- OFFERS ----------*/
.section__offers {
  display: flex;
  background-color: var(--second-color);
}

.section__offers-container {
  display: flex;
  width: 75%;
  margin: 8rem auto;
  justify-content: space-evenly;
  align-items: center;
}

.section__offers-container div {
  text-align: center;
  margin: 1rem;
}

.section__offers-container div i {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

h3 {
  margin-bottom: 0.8rem;
}

.section__offers-container .line {
  width: 2px;
  height: 7rem;
  background-color: var(--font-color);
}





/* ----------- CONTACT ----------*/
.section__contact {
  display: flex;
}

.section__contact-container {
  display: flex;
  width: 75%;
  margin: 8rem auto;
  justify-content: space-between;
}

.contact-info-container {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.contact-info-container div {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.contact-info-container .phone a {
  text-decoration: none;
  color: var(--font-color);
}

.contact-info-container .fa-brands {
  color: var(--font-color);
}

.contact-info-container .fa-brands:hover {
  color: var(--first-color);
}

iframe {
  margin-top: 1rem;
}

.contact-form-container {
  width: 48%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-form-container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid var(--font-color);
}

textarea {
  border: none;
  border-bottom: 1px solid var(--font-color);

}

.button {
  background-color: var(--first-color);
  width: 6rem;
  border: none;
  color: #fff;
}

.button:hover {
  background-color: var(--second-color);
  cursor: pointer;
}





/* ----------- FOOTER ----------*/
.footer {
  background-color: var(--font-color);
  display: flex;
}

.footer__container {
  display: flex;
  width: 85%;
  margin: 6rem auto;
  gap: 7rem;
}

.footer__nav,
.footer__opening-hours,
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  font-size: 0.9rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  font-size: 0.9rem;
  color: #fff;
}

.footer__info-img {
  width: 10rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer__nav a {
  text-decoration: none;
  color: #fff;
}

.footer__contact div {
  display: flex;
  gap: 0.5rem;
}

.footer__contact div i {
  color: var(--font-color);
}

.footer__icons a i {
  color: #fff;
}





/* ----------- LOGIN - SIGN UP ----------*/
/* ----------- HEADER ----------*/
.header__ingresar {
  box-shadow: none;
  background-color: transparent;
}

.navbar__return-icon {
  color: var(--first-color);
  font-size: 1.3rem;
  transition: 0.3s;
  border: 1px solid var(--first-color);
  padding: 6px;
  border-radius: 100%;
}

.navbar__return-icon:hover {
  background-color: var(--first-color);
  color: #fff;
}


/* ----------- CONTENT ----------*/
.section__login,
.section__sign-up {
  display: flex;
}

.login-image,
.sign-up-image {
  background-image: url(../assets/img-login.jpg);
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-content-container,
.sign-up-content-container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container,
.sign-up-container {
  background-image: none;
  width: 75%;
  height: auto;
  border-radius: 4px;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.login-container img,
.sign-up-container img {
  width: 10rem;
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: start;
  margin-top: 3rem;
}

.input-container {
  position: relative;
  display: inline-block;
  display: flex;
  width: 100%;
}

.user-icon,
.password-icon,
.email-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.input-login,
.input-sign-up {
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--font-color);
}

.input-login::placeholder,
.input-sign-up::placeholder {
  color: var(--font-color);
  font-size: 1rem;
}

.login-container .sign-up a {
  font-weight: bold;
  color: var(--first-color);
  text-decoration: none;
}

.accept-conditions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}





/* ----------- TABLET ----------*/
@media (max-width: 992px) {
  /* ----------- HEADER ----------*/
  .header {
    justify-content: space-between;
    padding: 0px 70px;
  }

  .header__logo-1 {
    display: block;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    padding: 20px 0 30px 70px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
  }

  .menu-icon:hover {
    color: var(--first-color);
  }

  .navbar__list.active {
      display: flex;
  }

  #toggle-menu:checked ~ .navbar__list {
    display: flex;
  }





  /* ----------- ABOUT ----------*/
  .section__about-container {
    flex-direction: column;
    gap: 4rem;
  }

  .section__about-info {
    order: 1;
    text-align: center;
  }

  .section__about-img {
    order: 2;
    display: flex;
  }

  .section__about-img img {
    width: 60%;
    margin: 0 auto;
  }
}





/* ----------- MOBILE ----------*/
@media (max-width: 576px) {
  /* ----------- HEADER ----------*/
  .header {
    padding: 0px 30px;
  }

  .header__logo-1 {
    display: none;
  }

  .header__logo-2 {
    display: block;
    width: 1.5rem;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    padding: 20px 0 30px 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
  }

  .menu-icon:hover {
    color: var(--first-color);
  }

  .navbar__list.active {
      display: flex;
  }

  #toggle-menu:checked ~ .navbar__list {
    display: flex;
  }



  

  /* ----------- HERO ----------*/
  .section__hero {
    height: 50vh;
  }

  .section__hero-description {
    margin-right: 1.5rem; 
    margin-top: 4rem;
  }

  h1 {
    font-size: 1.5rem !important;
    padding: 0.3rem;
    display: inline-block;
  }
  
  .section__hero-description p {
    font-size: 1rem;
    padding: 0.3rem;
  }


  


  /* ----------- ABOUT ----------*/
  .section__about-container {
    margin: 6rem auto;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    justify-content: center;
  }


  .section__about-info {
    order: 1;
    text-align: center;
  }

  .section__about-img {
    order: 2;
    width: 85%;
    display: flex;
    margin: 0 auto;
  }

  .section__about-img img {
    width: 100%;
  }





  /* ----------- PRODUCTS ----------*/
  .section__products-container {
    margin: 0 auto 3rem;
  }





  /* ----------- OFFERS ----------*/
  .section__offers-container {
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin: 6rem auto;
  }

  .section__offers-container .line {
    display: none;
  }





  /* ----------- CONTACT ----------*/
  .section__contact-container {
    flex-direction: column;
    width: 85%;
    margin: 6rem auto;
    gap: 4rem;
  }

  .contact-info-container {
    width: 100%;
  }

  .contact-info-container h2 {
    margin: 0 auto 1.5rem;
  }

  .contact-form-container {
    width: 100%;
  }





/* ----------- FOOTER ----------*/
.footer__container {
  flex-direction: column;
  gap: 3rem;
}

.footer__nav,
.footer__opening-hours,
.footer__contact,
.footer__info {
  font-size: 0.8rem;
}

.footer__nav,
.footer__contact {
  display: none;
}





/* ----------- LOGIN - SIGN UP ----------*/
  /* ----------- HEADER ----------*/
  #toggle-menu,
  .navbar__return-icon {
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--first-color);
    font-size: 1.3rem;
  }

  .navbar__return-icon {
    margin: 1.5rem;
    color: var(--first-color);
  }


  /* ----------- CONTENT ----------*/
  .login-image,
  .sign-up-image {
    display: none;
  }

  .login-content-container,
  .sign-up-content-container {
    width: 100%;
    background-image: url(../assets/img-hero.png);
    background-size: cover;
  }

  .login-container,
  .sign-up-container {
    background-color: #fff;
  }

  .sign-up-container {
    margin-top: 5rem;
    font-size: 0.8rem;
  }

  .accept-conditions {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
 
  .button-login-container,
  .button-sign-up-container {
    margin: 0 auto;
  }

  .sign-up {
    display: flex;
    font-size: 0.9rem;
  }
}