@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&display=swap');
/* >>>>>>>>>  Custom properties  <<<<<<<<< */
:root {
    --first-color: #f39ba7;
    --second-color: #f9cbd4;
    --third-color: #fbdea2;
    --fourth-color: #8eb696;
    --font-color: #444444;
  
    --first-font-family: 'Roboto', sans-serif;
    --second-font-family: 'Nunito', sans-serif;
    --third-font-family: 'Montserrat', sans-serif;
  
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--first-font-family);
  color: var(--font-color);
}

html {
  scroll-behavior: smooth;
}



h2 {
  font-family: var(--third-font-family);
  margin-bottom: 1.5rem;
  
}


p {
  line-height: 1.3rem;
}


/* ----------- HEADER ----------*/
.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header__ingresar {
  box-shadow: none;
  background-color: transparent;
}

.header__logo-1 {
  width: 8rem;
}

.header__logo-1__registrarse {
  display: none;
}

.header__logo-2 {
  display: none;
}

.navbar__bar {
  width: 25px;
  height: 2px;
  background-color: var(--font-color);
  margin: 7px 0;
  cursor: pointer;
}

#toggle-menu,
.fa-solid.fa-bars {
  display: none;
}



.navbar__list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.navbar__link {
  text-decoration: none;
  color: var(--font-color);
}

.navbar__link:hover {
  font-weight: bold;
}

.navbar__link-login {
  color: var(--first-color);
  font-weight: bold;
}





/* ----------- HERO ----------*/
.section__hero {
  height: 100vh;
  display: flex;
}


.section__hero-container {
  width: 85%;
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  background-image: url(../assets/img-hero.png);
  background-size: cover;
  background-position: center;
  justify-content: end;
  align-items: center;
}

.hero-description {
  text-align: end;
  margin-right: 3rem; 
}

h1 {
  background-color: var(--first-color);
  color: #fff;
  font-family: var(--second-font-family);
  font-size: 3.5rem !important; 
  padding: 0.7rem;
  margin-bottom: 1rem;
}

.hero-description p {
  background-color: var(--first-color);
  color: #fff;
  display: inline-block;
  font-family: var(--second-font-family);
  font-size: 2rem;
  padding: 0.7rem;
}






/* ----------- ABOUT ----------*/
.section__about {
  display: flex;
}

.section__about-container {
  display: flex;
  margin: 8rem auto;
  width: 75%;
  gap: 5rem;
}

.section__about-img img {
  max-width: 100%;
}

.section__about-info p {
  margin-bottom: 1rem;
}




/* ----------- PHRASE ----------*/
.section__phrase {
  background-color: var(--second-color);
  display: flex;
}

.section__phrase-container {
  width: 75%;
  margin: 8rem auto;
}



/* ----------- PRODUCTS ----------*/
.section__products {
  display: flex;
}

.section__products-container {
  display: flex;
  width: 75%;
  margin: 0 auto 8rem;
  flex-direction: column;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.price {
  font-weight: bold;
  margin-top: 0.5rem;
}

.add {
  display: flex;
  margin: 1rem auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1.5rem;
  border: 1px solid var(--font-color);
}

.add:hover {
  background-color: var(--font-color);
  cursor: pointer;
  color: #fff;
}

.add p {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.product-img {
  width: 18rem;
  height: 18rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1rem;
  justify-content: center;
}

.product-img img {
  width: 12rem;
}

.product-img img.dona-vainilla {
  width: 14rem;
}

.product-img img.dona-fresa {
  width: 8.5rem;
}

.product-1 {
  background-color: var(--second-color);
}

.product-2 {
  background-color: var(--third-color);
}

.product-3 {
  background-color: var(--fourth-color);
}


/* ----------- OFFERS ----------*/
.section__offers {
  display: flex;
  background-color: var(--second-color);
}

.section__offers-container {
  display: flex;
  width: 75%;
  margin: 8rem auto;
  justify-content: space-evenly;
  align-items: center;
}

.section__offers-container div {
  text-align: center;
  margin: 1rem;
}



.section__offers-container div i {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}

h3 {
  margin-bottom: 0.8rem;
}


.section__offers-container .line {
  width: 2px;
  height: 7rem;
  background-color: var(--font-color);
}









/* ----------- CONTACT ----------*/
.section__contact {
  display: flex;
}

.section__contact-container {
  display: flex;
  width: 75%;
  margin: 8rem auto;
  justify-content: space-between;
}

.section__map {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.section__map div {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.section__form {
  width: 48%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.section__map .fa-brands {
  color: var(--font-color);
}

.section__map .fa-brands:hover {
  color: var(--first-color);

}

.section__form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  height: 2.5rem;
  border: none;
  border-bottom: 1px solid var(--font-color);
}

textarea {
  border: none;
  border-bottom: 1px solid var(--font-color);

}

.secton__form-button {
  background-color: var(--first-color);
  width: 6rem;
  border: none;
  color: #fff;
}

.secton__form-button:hover {
  background-color: var(--second-color);
  cursor: pointer;
}

iframe {
  margin-top: 1rem;
}

.section__map .phone a {
  text-decoration: none;
  color: var(--font-color);
}



/* ----------- FOOTER ----------*/
.footer {
  background-color: var(--font-color);
  display: flex;
}

.footer__container {
  display: flex;
  width: 85%;
  margin: 6rem auto;
  gap: 7rem;
}

.footer__nav,
.footer__opening-hours,
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  font-size: 0.9rem;
}

.footer__info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  font-size: 0.9rem;
  color: #fff;
}

.footer__info-img {
  width: 10rem;
}


.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer__nav a {
  text-decoration: none;
  color: #fff;
}

.footer__contact div {
  display: flex;
  gap: 0.5rem;
}

.footer__contact div i {
  color: var(--font-color);
}

.footer__icons a i {
  color: #fff;
}


/* ----------- INGRESAR - REGISTRARSE ----------*/
i.fa-solid.fa-arrow-left {
  color: var(--first-color);
  font-size: 1.3rem;
  transition: 0.3s;
  border: 1px solid var(--first-color);
  padding: 6px;
  border-radius: 100%;
}

i.fa-solid.fa-arrow-left:hover {
  background-color: var(--first-color);
  color: #fff;
}


.hero__ingresar {
  display: flex;
}

.container-hero-imagen {
  background-image: url(../assets/img-login.jpg);
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container-hero-ingresar {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__container {
  background-image: none;
  width: 75%;
  height: auto;
  border-radius: 4px;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.hero__container img {
  width: 10rem;
}

.container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: start;
  margin-top: 3rem;
}

.input-container {
  position: relative;
  display: inline-block;
  display: flex;
  width: 100%;
}

.hero__container .login .user {
  display: flex;
  justify-content: space-between;
}

.section__hero-img img {
  max-width: 100%;
  height: auto;
}


.fa-solid.fa-user,
.fa-solid.fa-lock,
.fa-solid.fa-envelope {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.input-login {
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid var(--font-color);
}

.input-login::placeholder {
  color: var(--font-color);
}

.hero__container p a {
  font-weight: bold;
  color: var(--first-color);
  text-decoration: none;
}

.input-container.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.secton__form-button.button-ingresar {
  color: #fff;
}

.secton__form-button.button-registrarse {
  color: #fff;
  width: 7rem;
}


.acepto-terminos {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}







@media (max-width: 992px) {

  /* ----------- HEADER ----------*/
  .header {
    justify-content: space-between;
    padding: 0px 70px;

  }

  .header__logo-1 {
    display: block;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    padding: 20px 0 30px 70px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .fa-solid.fa-bars {
    display: block;
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
  }

  .fa-solid.fa-bars:hover {
    color: var(--first-color);
  }

  .navbar__list.active {
      display: flex;
  }

  #toggle-menu:checked ~ .navbar__list {
    display: flex;
  }


  /* ----------- ABOUT ----------*/
  .section__about-container {
    flex-direction: column;
    gap: 4rem;
  }


  .section__about-info {
    order: 1;
    text-align: center;
  }

  .section__about-img {
    order: 2;
    display: flex;
  }

  .section__about-img img {
    width: 60%;
    margin: 0 auto;
  }

}








@media (max-width: 576px) {

  /* ----------- HEADER ----------*/
  .header {
    padding: 0px 30px;
  }

  .header__logo-1 {
    display: none;
  }

  .header__logo-2 {
    display: block;
    width: 1.5rem;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    gap: 1.5rem;
    padding: 20px 0 30px 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .fa-solid.fa-bars {
    display: block;
    font-size: 1.5rem;
    color: var(--font-color);
    cursor: pointer;
  }

  .fa-solid.fa-bars:hover {
    color: var(--first-color);
  }

  .navbar__list.active {
      display: flex;
  }

  #toggle-menu:checked ~ .navbar__list {
    display: flex;
  }

  #toggle-menu,
  .fa-solid.fa-arrow-left {
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--font-color);
    font-size: 1.3rem;
  }

  /* ----------- HERO ----------*/
  .section__hero {
    height: 50vh;
  }

  .hero-description {
    margin-right: 1.5rem; 
    margin-top: 4rem;
  }

  h1 {
    font-size: 1.5rem !important;
    padding: 0.3rem;
  }
  
  .hero-description p {
    font-size: 1rem;
    padding: 0.3rem;

  }

  


  /* ----------- ABOUT ----------*/
  .section__about-container {
    margin: 6rem auto;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    justify-content: center;
  }


  .section__about-info {
    order: 1;
    text-align: center;
  }

  .section__about-img {
    order: 2;
    width: 85%;
    display: flex;
    margin: 0 auto;
  }

  .section__about-img img {
    width: 100%;
  }



  /* ----------- PRODUCTS ----------*/
  .section__products-container {
    margin: 0 auto 3rem;
  }




  /* ----------- OFFERS ----------*/
  .section__offers-container {
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    margin: 6rem auto;
  }

  .section__offers-container .line {
    display: none;
  }


  /* ----------- CONTACT ----------*/
  .section__contact-container {
    flex-direction: column;
    width: 85%;
    margin: 6rem auto;
    gap: 4rem;
  }

  .section__map {
    width: 100%;
  }

  .section__map h2 {
    margin: 0 auto 1.5rem;
  }

  .section__form {
    width: 100%;
  }



  /* ----------- INGRESAR - REGISTRARSE ----------*/
  i.fa-solid.fa-arrow-left {
    margin: 1.5rem;
  }

  .container-hero-imagen {
    display: none;
  }

  .container-hero-ingresar {
    width: 100%;
    background-image: url(../assets/img-hero.png);
    background-size: cover;
  }

  .hero__container {
    background-color: #fff;
  }

  .hero__container.registrarse {
    margin-top: 5rem;
  }

  .registrarse {
    font-size: 0.8rem;
  }

  .acepto-terminos {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
 
  .container-button-ingresar,
  .container-button-registrarse {
    margin: 0 auto;
  }


/* ----------- FOOTER ----------*/
.footer__container {
  flex-direction: column;
  gap: 3rem;
}

.footer__nav,
.footer__opening-hours,
.footer__contact,
.footer__info {
  font-size: 0.8rem;
}

.footer__nav,
.footer__contact {
  display: none;
}
}